@{
    ViewData["Title"] = "Atualizar Contato";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">Atualizar Contato</h1>

        <form class="text-start">
            <div class="mb-3">
                <label for="InputName" class="form-label">Nome</label>
                <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp">
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">E-mail</label>
                <input type="email" class="form-control " id="InputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="InputPhone" class="form-label">Celular</label>
                <input type="email" class="form-control " id="InputPhone" aria-describedby="phoneHelp">
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <button class="btn btn-cancel" asp-controller="Contact" asp-action="Index">Voltar</button>
        </form>
    </div>
</div>
